
<ul class="nav justify-content-center pt-md-2">
    <li class="nav-item">
        <a class="nav-link active" href="#">profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Exams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Jobs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> hello Mr.{{username}}</a>
    </li>
</ul>
<hr>
<div class="container">
    <div class="row pt-4 ">
{{#positions}}
        <div class="card text-center col-6">
            <div class="card-header">
                Opened
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}"</p>
                <a href="#my_modal" id="btn{{this.pid}}" class = "btn btn-primary" data-toggle="modal"
                   data-title="{{this.title}}"
                   data-pos-id="{{this.pid}}" data-book-id="{{this.description}}">Apply</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
{{/positions}}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal -->
            <form action="/fileupload"  method="post" enctype="multipart/form-data" id="myform">
                <div class="modal-body">
                    <p class="desc"></p>
<!--                    <input value =""  type="text" name="title" >-->
<!--                    <input value =""  type="text" name="posId" >-->
                    <div class="input-group mb-3">
                        <input type="text" hidden  name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text"  hidden name="posId" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="file">Choose your CV</label>
                            <input type="file" class="custom-file-input CV" id="file" name="filetoupload"/><br>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>


    jQuery(document).ready(function(){
        // id of the button id="but_upload"
        jQuery('#my_modal').on('show.bs.modal', function(e) {
            var bookId = jQuery(e.relatedTarget).data('book-id');
            var posId = jQuery(e.relatedTarget).data('pos-id');
            var title = jQuery(e.relatedTarget).data('title');
            jQuery(e.currentTarget).find('.desc').append(bookId);
            jQuery(e.currentTarget).find('input[name=posId]').val(posId);
            jQuery(e.currentTarget).find('input[name=title]').val(title);
        });
    });
</script>